body
{
padding-left:5%;
padding-right:5%;
background-color:#FFBF00;
color:#B40486;
}
/*Tableau de couleurs HTML : https://html-color-codes.info/Codes-couleur-HTML/ */
#portrait
{
width:10%;
-webkit-transition: width 2s; /* Safari */
transition: width 2s;
}
#portrait:hover
{
width:15%;
}
h1,h2,h3
{
color: white;
font-family:sans-serif;
}
h1
{
font-size:4em;
}
#homepage_contact_details
{
list-style-type: none;
padding: 0px;
}
#BlocCouleur
{
height:50px;
width:50px;
background-color:white;
}
#homepage_menu
{
padding-left: 0px;
padding-right: 0px;
padding-top:25px;
padding-bottom:25px;
font-family:sans-serif;
}
#homepage_menu li
{
display:inline;
list-style-type:none;
width: 5vw;
padding-top:1%;
padding-bottom:1%;
}
a
{
color:white;
text-decoration:none;
}
a.menu
{
border:medium outset;
font-weight:bold;
padding:1%;
background-color:#B40486;
}
a.menu:hover
{
color:black;
border:medium inset;
}
.homepage_blocs
{
list-style-type:none;
width:50%;
min-width:500px;
}
.homepage_bloc
{
float:left;
width:40%;
padding-right:10%;
}
#bouton_javascript a
{
color:#FFBF00;
font-family:sans-serif;
font-weight:bold;
animation-name:clignote;
animation-duration:2s;
animation-direction: alternate;
animation-iteration-count: infinite;
}
@keyframes clignote
{
from {color:#FFBF00;}
to {color:white;}
}

/*Page Work experiences*/
/* - Faire en sorte que les boutons dropdown soient fixés dans l'écran et donc manipulables à tout moment.*/
/*les éléments des dropdowns*/
.dropdown,.dropdownInfographie
{
	width:25vh;
	height:25vh;
	background-color:blue;
	position:relative;
}
/* - fixer hauteur et largeur max de la div dropdown*/
.pictoCompetence,.pictoCompetenceInfographie
{
	height:25vh;
}
.dropdown-content-top,.dropdown-content-topInfographie
{
	width:25vh;
	height:25vh;
	visibility:hidden;
	position:absolute;
	top:0vh;
	display: flex;
	justify-content:center;
	padding-top:3vh;
}
.petiteEtoile
{
	height:5vh;
}
.dropdown-content-bottom,.dropdown-content-bottomInfographie
{
	width:25vh;
	height:25vh;
	visibility:hidden;
	position:absolute;
	bottom:0vh;
	display: flex;
	align-items:flex-end;
	justify-content:center;
	padding-bottom:3vh;
}
.desc,.descInfographie
{
	visibility:hidden;
	color:pink;
	margin:0vh;
}
/* - appliquer style à desc*/

/* "bouton" test */
/* - styler le "bouton" pour qu'il ressemble vraiment à un bouton (ex : https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 )*/
	/*au hover*/
.dropdown:hover .pictoCompetence
{
	visibility: hidden;
}
.dropdown:hover .dropdown-content-top
{
	visibility: visible;
}
.dropdown:hover .desc
{
	visibility: visible;
}
/* - au 1er clic : le même comportement qu'au hover*/
/* - au 2ème clic : retour à l'état initial*/


/* "bouton" Graphic design skills */
.infographie
{
	transition-property: color;
	transition-duration: 0s;
}
	/*au hover*/
.dropdownInfographie:hover .pictoCompetenceInfographie
{
	visibility: hidden;
}
.dropdownInfographie:hover .dropdown-content-topInfographie
{
	visibility: visible;
}
.dropdownInfographie:hover .descInfographie
{
	visibility: visible;
}
/* - Regrouper les deux changement d'état ci-dessus vu qu'ils sont identiques et que le seul truc qui les différencie c'est l'élément de l'interface auquel ils sont appliqués. */
.dropdownInfographie:hover .infographie
/* - au survol : le texte de la bonne class change de forme ou de couleur*/
	/*au clic*/

/*Page tests Javascript/JQuery*/
.JavascriptTest1
{
	width:50px;
	height:50px;
	display:inline-block;
}
#red
{
	background-color:red;	
}
#blue
{
	background-color:blue;	
}
#yellow
{
	background-color:yellow;	
}
#green
{
	background-color:green;
}
.JavascriptTest2,.JavascriptTest2bis,.JavascriptTest3
{
	width:50px;
	height:50px;
	display:inline-block;
	background-color:black;	
}
#white
{
	background-color:white;	
}
#purple
{
	background-color:purple;	
}
#black
{
	background-color:black;	
}
#pink
{
	background-color:pink;	
}