body
{
padding-left:5%;
padding-right:5%;
background-color:#FFBF00;
color:#B40486;
}
/*Tableau de couleurs HTML : https://html-color-codes.info/Codes-couleur-HTML/ */
h1,h2,h3
{
color: white;
font-family:sans-serif ;
}
#homepage_contact_details
{
list-style-type: none;
padding: 0px;
}

#homepage_menu
{
padding-left: 0px;
padding-right: 0px;
padding-top:25px;
padding-bottom:25px;
background-color:red;
font-family:sans-serif;
}
#homepage_menu li
{
display:inline;
list-style-type:none;
width: 5vw;
padding-left:5%;
padding-right:5%;
padding-top:1%;
padding-bottom:1%;
background-color:black;
}
a
{
color:white;
text-decoration:none;
}

.homepage_blocs
{
list-style-type:none;
width:50%;
min-width:500px;
}
.homepage_bloc
{
float:left;
width:40%;
padding-right:10%;
}
