h1,h2,h3
{
color: blue;
}
#homepage_contact_details
{
list-style-type: none;
padding: 0px;
}

#homepage_menu
{
padding-left: 0px;
padding-right: 0px;
padding-top:25px;
padding-bottom:25px;
background-color:red;
}
#homepage_menu li
{
display:inline;
list-style-type: none;
width: 5vw;
padding-left:5%;
padding-right:5%;
padding-top:1%;
padding-bottom:1%;
background-color:black;
}
a
{
color:white;
text-decoration:none;
}

body
{
padding-left:5%;
padding-right:5%;
}
