h1,h2,h3
{
color: blue;
font-family: "Century Gothic", sans-serif;
}
#homepage_contact_details
{
list-style-type: none;
padding: 0px;
}

#homepage_menu
{
padding-left: 0px;
padding-right: 0px;
padding-top:0px;
padding-bottom:30px;
background-color:red;
}
#homepage_menu li
{
display:inline;
list-style-type: none;
background-color:black;
}
#ContactIcon
{
width:25px;
}

a:link {
color:white;
text-decoration:none;
padding-left:5%;
padding-right:5%;
padding-top:1%;
padding-bottom:1%;
}

a:hover {
font-weight: bold;
}

body
{
padding-left:5%;
padding-right:5%;
}

main
{
display:flex;
width:90%;
justify-content:space-around;
background-color:purple;
padding:2%;
}

article
{
background-color:pink;
border: none;
border-radius: 1em;
box-shadow: 1em 1em 2em white;
width:40%;
padding:2%;
}
